<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fr.xdev.alfred2-safari-bookmark</string>
	<key>connections</key>
	<dict>
		<key>20E578C3-19D8-42A9-AA52-0E0AD4B41644</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E92C3DD-D20F-4EA4-9695-55829828EDEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>472BD190-1797-4D04-BE7C-019A8D3572D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CE55EE3-3228-4E7A-B031-671B70510BF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8801C974-65CD-42B1-AD92-DFB1F0CE9B48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEAEB2C5-E932-4435-B8FE-C005181D7917</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AEAEB2C5-E932-4435-B8FE-C005181D7917</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E92C3DD-D20F-4EA4-9695-55829828EDEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DB989D05-4507-4F3D-A1A2-BB2B4D79E829</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20E578C3-19D8-42A9-AA52-0E0AD4B41644</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hugues Bernet-Rollande</string>
	<key>description</key>
	<string>Rename or delete Safari's bookmarks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Safari Bookmark</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/ruby main.rb rename "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AEAEB2C5-E932-4435-B8FE-C005181D7917</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2E92C3DD-D20F-4EA4-9695-55829828EDEA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rename</string>
				<key>text</key>
				<string>Rename Bookmark</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8801C974-65CD-42B1-AD92-DFB1F0CE9B48</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "{query}" &gt; file_list

osascript &lt;&lt;EOT
	tell application "Alfred 2" to search "rename "
EOT</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3CE55EE3-3228-4E7A-B031-671B70510BF7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.apple.safari.bookmark</string>
				</array>
				<key>name</key>
				<string>Rename bookmark</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>472BD190-1797-4D04-BE7C-019A8D3572D3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.apple.safari.bookmark</string>
				</array>
				<key>name</key>
				<string>Delete Bookmark</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>DB989D05-4507-4F3D-A1A2-BB2B4D79E829</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "{query}" &gt; file_list

/usr/bin/ruby main.rb delete</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>20E578C3-19D8-42A9-AA52-0E0AD4B41644</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>20E578C3-19D8-42A9-AA52-0E0AD4B41644</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>2E92C3DD-D20F-4EA4-9695-55829828EDEA</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>3CE55EE3-3228-4E7A-B031-671B70510BF7</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>472BD190-1797-4D04-BE7C-019A8D3572D3</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>8801C974-65CD-42B1-AD92-DFB1F0CE9B48</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>AEAEB2C5-E932-4435-B8FE-C005181D7917</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>DB989D05-4507-4F3D-A1A2-BB2B4D79E829</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://xdev.fr</string>
</dict>
</plist>
